<h2>Edit the Article</h2>

<form method="post" action="/articles/<%= @article.id %>">
    <input type="hidden" name="_method" value="PATCH">
    <label for="title">Title <label>
    <input name="article[title]" type="text" value="<%= @article.title %>" >
    <label for="content">Content <label>
    <input name="article[content]" type="textarea" value="<%= @article.content %>" >
    <input type="submit">
</form>