<form action = "/articles" method ="post">
    <label for ="title">Title</label>
    <input id="title" type="text" name="title">

    <label for= "content">Content</label>
    <textarea id = "content" rows = "5" cols ="30" name= "content" type="text">
    </textarea>

    <input type= "submit">
</form>