<h2>New Form</h2>
<form method="POST" action="/articles">
    <label for="title">Title</label>
    <input name="title" type="text" >
    <label for="content">Content</label>
    <input name="content" type="textarea">
    <input type="submit">
</form>