<h1> <%= @article.title %></h1>
<p> <%= @article.content %></p>

<a href="/articles/<%= @article.id %>/edit">Edit Article</a>
<form method="DELETE" action="/articles/<%= @article.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE">
</form>